In [251]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [252]:
df = pd.read_csv('flights.csv')
df.head()

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,363169,5290975,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,704061,4899614,2015,11,2,1,AA,2516,N3CVAA,ORD,DEN,1715,1743.0,28.0,40.0,1823.0,164.0,177.0,126.0,888,1929.0,11.0,1859,1940.0,41.0,0,0,NaN,13.0,0.0,28.0,0.0,0.0
2,2,389056,3769408,2015,8,22,6,AS,93,N317AS,SEA,ANC,1355,1353.0,-2.0,20.0,1413.0,220.0,206.0,182.0,1448,1615.0,4.0,1635,1619.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,132167,4999624,2015,11,9,1,AA,2383,N871AA,MCO,DFW,650,652.0,2.0,16.0,708.0,181.0,172.0,142.0,985,830.0,14.0,851,844.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,304371,2572568,2015,6,12,5,US,1978,N833AW,CLE,CLT,705,700.0,-5.0,12.0,712.0,93.0,92.0,71.0,430,823.0,9.0,838,832.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274964 entries, 0 to 274963
Data columns (total 34 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0.2         274964 non-null  int64
 1   Unnamed: 0           274964 non-null  int64
 2   Unnamed: 0.1         274964 non-null  int64
 3   YEAR                 274964 non-null  int64
 4   MONTH                274964 non-null  int64
 5   DAY                  274964 non-null  int64
 6   DAY_OF_WEEK          274964 non-null  int64
 7   AIRLINE              274964 non-null  object
 8   FLIGHT_NUMBER        274964 non-null  int64
 9   TAIL_NUMBER          274225 non-null  object
 10  ORIGIN_AIRPORT       274964 non-null  object
 11  DESTINATION_AIRPORT  274964 non-null  object
 12  SCHEDULED_DEPARTURE  274964 non-null  int64
 13  DEPARTURE_TIME       270719 non-null  float64
 14  DEPARTURE_DELAY      270719 non-null  float64
 15  TAXI_OUT             270571 non-null  float64
 16  WHEELS_OFF           270571 non-null  float64
 17  SCHEDULED_TIME       274964 non-null  float64
 18  ELAPSED_TIME         269773 non-null  float64
 19  AIR_TIME             269773 non-null  float64
 20  DISTANCE             274964 non-null  int64
 21  WHEELS_ON            270377 non-null  float64
 22  TAXI_IN              270377 non-null  float64
 23  SCHEDULED_ARRIVAL    274964 non-null  int64
 24  ARRIVAL_TIME         270377 non-null  float64
 25  ARRIVAL_DELAY        269773 non-null  float64
 26  DIVERTED             274964 non-null  int64
 27  CANCELLED            274964 non-null  int64
 28  CANCELLATION_REASON  4433 non-null    object
 29  AIR_SYSTEM_DELAY     51863 non-null   float64
 30  SECURITY_DELAY       51863 non-null   float64
 31  AIRLINE_DELAY        51863 non-null   float64
 32  LATE_AIRCRAFT_DELAY  51863 non-null   float64
 33  WEATHER_DELAY        51863 non-null   float64
dtypes: float64(16), int64(13), object(5)
memory usage: 71.3+ MB

> We notice that there are many columns we need to edit.
>
> 1. There are 3 Unnamed columns we need to drop.
>
>
> 2. There are many Null values here. The last 6 columns have many Null values but we need from them the:
>  * `CANCELLATION_REASON`. So, we will will try to replace the Null with readable value. 
>
>
> 3. * `SCHEDULED_DEPARTURE`, `DEPARTURE_TIME`, `SCHEDULED_TIME`, `ELAPSED_TIME`, `AIR_TIME`, `SCHEDULED_ARRIVAL`, `ARRIVAL_TIME` **All needed to be converted to string to handle the missed zeros then to DateTime.**
>
>  * Also we should convert the `DAY_OF_WEEK` column to be string with the day name.

> ### 1) Droping the Un-named columns.

In [254]:
df.drop(columns=['Unnamed: 0.2', 'Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

> ### 2) Cleaning the `CANCELLATION_REASON` column.

In [255]:
df.CANCELLATION_REASON.value_counts()

B    2397
A    1260
C     776
Name: CANCELLATION_REASON, dtype: int64

> Now we need to replace these values with readable reasons and give the reason of "Security" to the Nulls.

In [256]:
def get_reasons(reason):
    if reason == "A":
        return "Airline/Carrier"
    elif reason == "B":
        return "Weather"
    elif reason == "C":
        return "National Air System"
    else:
        return "Security"

In [257]:
df['CANCELLATION_REASON'] = df.CANCELLATION_REASON.apply(lambda reason: get_reasons(reason))
df.CANCELLATION_REASON.value_counts()

Security               270531
Weather                  2397
Airline/Carrier          1260
National Air System       776
Name: CANCELLATION_REASON, dtype: int64

### 3) Operating with Null values from columns.

In [258]:
df.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
FLIGHT_NUMBER               0
TAIL_NUMBER               739
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME           4245
DEPARTURE_DELAY          4245
TAXI_OUT                 4393
WHEELS_OFF               4393
SCHEDULED_TIME              0
ELAPSED_TIME             5191
AIR_TIME                 5191
DISTANCE                    0
WHEELS_ON                4587
TAXI_IN                  4587
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME             4587
ARRIVAL_DELAY            5191
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON         0
AIR_SYSTEM_DELAY       223101
SECURITY_DELAY         223101
AIRLINE_DELAY          223101
LATE_AIRCRAFT_DELAY    223101
WEATHER_DELAY          223101
dtype: int64

> We will drop the columns that has more than 10,000 Null values. **They are the last 5 columns.**

In [259]:
needed_columns = df.columns[range(-5, 0, 1)]
df.drop(columns= needed_columns, inplace=True)
df.head(1)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON
0,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,Security

> Droping rows that has null values in `AIR_TIME` column as now it has the most null values but we need it.

In [260]:
df = df[df.AIR_TIME.isnull() == False]
print('Number of null values now is: ', df.isnull().sum().sum())

Number of null values now is:  0

### Cleaning time columns
`SCHEDULED_DEPARTURE`, `DEPARTURE_TIME`, `SCHEDULED_TIME`, `ELAPSED_TIME`, `AIR_TIME`, `SCHEDULED_ARRIVAL`, `ARRIVAL_TIME` 

> We need to make them on the format **YYYY/MM/DD HH:MM** so:

In [261]:
df.head(2)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON
0,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,Security
1,2015,11,2,1,AA,2516,N3CVAA,ORD,DEN,1715,1743.0,28.0,40.0,1823.0,164.0,177.0,126.0,888,1929.0,11.0,1859,1940.0,41.0,0,0,Security

> First we need to get the Date part for each row ... so we will concatinate the first 3 columns to get one column called `DATE`.

In [262]:
Date_Columns = df.columns[range(0,3, 1)] # getting the columns YEAR, MONTH, DAY

# Converting them to str to concatinating them with each other in one column called "DATE"
for column in Date_Columns:
    df[column] = df[column].astype(str)

df['DATE'] = df['YEAR'] + '/' + df['MONTH'] + '/' + df['DAY']
df.DATE.head()

0    2015/11/28
1     2015/11/2
2     2015/8/22
3     2015/11/9
4     2015/6/12
Name: DATE, dtype: object

> **Now we will format at first the time columns to be 'HH:MM'**

In [263]:
# Getting the needed columns names in one place.
time_columns = ['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']

In [264]:
def adding_zeros(row_value):
    '''
    Input: the row value come from the getting_time_form function.
    Output: the new format after adding the needed number of zeos
    
    '''
    nedded_number_of_zeors = 4 - len(row_value)
    return  '0' *  nedded_number_of_zeors + row_value

def getting_time_form(row_val):
    '''
    
    Input: the current value in the column form convert_to_time function
    Output: returning it on the format HH : MM, but still string
    
    '''
    value = adding_zeros(row_val)
    hours = value[0:2] 
    minutes = value[2:4] 
    
    # If there is no problms with hours and minutes .. return this time.
    if (int(hours) >= 0 and int(hours) < 24) and (int(minutes) >= 0 and int(minutes) < 60):
        return hours + ':' + minutes
    
    # If there is a problem return Null to check if there is a large number or no and decide to drop them.
    else:
        # we can handel this error by taking the difference between the actual minutes - 60 to be the new minute.
        # Also we can handel hours like that.
        # But this will make many values unConsistant with each others as these times dependent on each others.
        
        # So, I will pass these values giving them Null as value.
        pass

In [265]:
for column in time_columns:
    df[column] = df[column].astype('int') # to get rid of the decimal sign.
    df[column] = df[column].astype('str') # to handel its length and add easily zeros.
    
    # Converting the value from the shape '####' to the shape 'HH:MM'
    df[column] = df[column].apply(lambda val: getting_time_form(val))
    
df[time_columns].head(2)

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME
0,07:00,06:55,None,None,00:39,08:08,07:56
1,17:15,17:43,None,None,01:26,18:59,19:40

> Now, we check how many Null values. In other words how many not right times.

In [266]:
df.isnull().sum().sum()

358702

In [267]:
df.size

7283871

> As our data has more than 7,000,000 row so i prefer to drop all null values.

In [268]:
df = df.dropna()
print('Number of Null values now in data is:', df.isnull().sum().sum())

Number of Null values now in data is: 0

> Now our time columns ready to be compied in the `DATE` column to get the format _YYYY/MM/DD HH:MM_

In [269]:
for column in time_columns:
    df[column] = df['DATE'] +' '+ df[column]
    df[column] = pd.to_datetime(df[column], format="%Y/%m/%d %H:%M")

    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62842 entries, 6 to 274958
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 62842 non-null  object
 1   MONTH                62842 non-null  object
 2   DAY                  62842 non-null  object
 3   DAY_OF_WEEK          62842 non-null  int64
 4   AIRLINE              62842 non-null  object
 5   FLIGHT_NUMBER        62842 non-null  int64
 6   TAIL_NUMBER          62842 non-null  object
 7   ORIGIN_AIRPORT       62842 non-null  object
 8   DESTINATION_AIRPORT  62842 non-null  object
 9   SCHEDULED_DEPARTURE  62842 non-null  datetime64[ns]
 10  DEPARTURE_TIME       62842 non-null  datetime64[ns]
 11  DEPARTURE_DELAY      62842 non-null  float64
 12  TAXI_OUT             62842 non-null  float64
 13  WHEELS_OFF           62842 non-null  float64
 14  SCHEDULED_TIME       62842 non-null  datetime64[ns]
 15  ELAPSED_TIME         62842 non-null  datetime64[ns]
 16  AIR_TIME             62842 non-null  datetime64[ns]
 17  DISTANCE             62842 non-null  int64
 18  WHEELS_ON            62842 non-null  float64
 19  TAXI_IN              62842 non-null  float64
 20  SCHEDULED_ARRIVAL    62842 non-null  datetime64[ns]
 21  ARRIVAL_TIME         62842 non-null  datetime64[ns]
 22  ARRIVAL_DELAY        62842 non-null  float64
 23  DIVERTED             62842 non-null  int64
 24  CANCELLED            62842 non-null  int64
 25  CANCELLATION_REASON  62842 non-null  object
 26  DATE                 62842 non-null  object
dtypes: datetime64[ns](7), float64(6), int64(5), object(9)
memory usage: 13.4+ MB

> Now we converted the time columns to Datetime columns ... Now lets convert the `DAY_OF_WEEK` column to be string with the day name.

In [270]:
df['DAY_OF_WEEK'] = pd.to_datetime(df.DATE).dt.day_name()
df.DAY_OF_WEEK.head()

6       Tuesday
13    Wednesday
15     Thursday
20       Friday
23       Sunday
Name: DAY_OF_WEEK, dtype: object

> ### Now, we can say our work in cleaning the data is done .. Now we will go to TABLEAU to analyse the data 

> **You can find the repo [here](https://github.com/mo7amed7assan1911/Flight_Delays_USA_TABLEAU)**

In [271]:
df.to_csv('flights_EDITED.csv')

PermissionError: [Errno 13] Permission denied: 'flights_EDITED.csv'